@model IEnumerable<Asopalav.Models.CartVM>

@{
    ViewBag.Title = "Cart Details";
    int count = 1;
}

<div id="breadcrumbs" class="product-margin-top">
    <div class="container">
        <ul>
            <li><a href="@Url.Action("Index","Home")">Home</a></li>
            <li @((string)Session["CurrentPage"] == "Home" ? "style=display:none" : "style=inline-block")>
                <a href="@Url.Action((string)Session["CurrentPage"],"Home")">@Session["CurrentPage"]</a>
            </li>
        </ul>
    </div>
    <!-- / container -->
</div>

@if (ViewBag.Message != null)
{
    <img src="~/Content/images/cart-empty.png" />
    <h3>Please <a href="@Url.Action("Index","Home")">click here</a> to continue.</h3>
}
else
{
    <!-- / body -->
    <div id="body">
        <div class="container">
            <div id="content" class="full">
                <div class="cart-table">
                    <table>
                        <tr>
                            <th class="items">Items</th>
                            <th class="price">Price</th>
                            <th class="qnt" colspan="3">Quantity</th>
                            <th class="total">Total</th>
                            <th class="delete"></th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="items">
                                    <div class="image">
                                        <img src="@item.Image.FirstOrDefault().ImagePath" alt="@item.Image.FirstOrDefault().ImageName" style="height:75px;width:100px;">
                                    </div>
                                    <h3>@item.ProductName</h3>
                                    <p>@item.Description</p>
                                </td>
                                <td class="price">$@item.Price</td>
                                <td><a href="javascript:void(0);" class="decrproduct" data-id="@item.ProductId">-</a></td>
                                <td class="qnt qty@(item.ProductId)">@Html.DisplayFor(modelItem => item.Quantity)</td>
                                <td><a href="javascript:void(0);" class="incrproduct" data-id="@item.ProductId">+</a></td>
                                <td class="total@(item.ProductId)">$@Html.DisplayFor(modelItem => item.Total)</td>
                                <td class="delete">
                                    <a href="javascript:void(0);" class="removeproduct" data-id="@item.ProductId">
                                        <i class="fa fa-trash" style="font-size:20px"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
                <div class="total-count">
                    @*<h4>Subtotal: $4 500.00</h4>
                        <p>+shippment: $30.00</p>*@
                    <h3 class="grandtotal">Total to pay: <strong>$<span>@ViewBag.GrandTotal</span></strong></h3>
                    <a href="@Url.Action("Index", "Home")" class="btn-grey">Continue Shopping</a>
                    <a href="javascript:void(0);" class="btn-grey">Finalize and pay</a>
                </div>

            </div>
            <!-- / content -->
        </div>
        <!-- / container -->
    </div>
    <!-- / body -->
    <div class="paypaldiv">
        <form class="paypalform" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_cart">
            <input type="hidden" name="upload" value="1">
            <input type="hidden" name="business" value="jultranet-facilitator@gmail.com">

            @foreach (var item in Model)
            {
                <input type="hidden" name="item_name_@count" value="@item.ProductName">
                <input type="hidden" name="amount_@count" value="@item.Price">
                <input type="hidden" name="quantity_@count" value="@item.Quantity">
                count++;
            }

            <input type="hidden" name="currency_code" value="USD">
            <input type="image" src="http://www.paypal.com/en_US/i/btn/x-click-but01.gif" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
        </form>
    </div>
    <br />
    <a href="javascript:void(0);" class="placeorder btn btn-primary pull-right">Checkout</a>
}
@section Scripts {
    <script>

        $(function () {

            /*
            * Increment product
            */

            $("a.incrproduct").click(function (e) {
                e.preventDefault();

                var productId = $(this).data("id");
                var url = "/CartDetails/IncrementProduct";

                $.getJSON(url, { productId: productId }, function (data) {

                    $("td.qty" + productId).html(data.qty);

                    var price = data.qty * data.price;
                    var priceHtml = "$" + price.toFixed(2);

                    $("td.total" + productId).html(priceHtml);

                    var gt = parseFloat($("h3.grandtotal span").text());
                    var grandtotal = (gt + data.price).toFixed(2);

                    $("h3.grandtotal span").text(grandtotal);
                }).done(function (data) {
                    var url2 = "/CartDetails/PaypalPartial";

                    $.get(url2, {}, function (data) {
                        $('div.paypaldiv').html(data);
                    });
                });
            });

            //////////////////////////////////////////////////////////////

            /*
            * Decrement product
            */

            $("a.decrproduct").click(function (e) {
                e.preventDefault();

                var $this = $(this);
                var productId = $(this).data("id");
                var url = "/CartDetails/DecrementProduct";

                $.getJSON(url, { productId: productId }, function (data) {
                    if (data.qty == 0) {
                        $this.parent().parent().fadeOut("fast", function () {
                            location.reload();
                        });
                    }
                    else {
                        $("td.qty" + productId).html(data.qty);

                        var price = data.qty * data.price;
                        var priceHtml = "$" + price.toFixed(2);

                        $("td.total" + productId).html(priceHtml);

                        var gt = parseFloat($("h3.grandtotal span").text());
                        var grandtotal = (gt - data.price).toFixed(2);

                        $("td.grandtotal span").text(grandtotal);
                    }

                }).done(function (data) {
                    var url2 = "/CartDetails/PaypalPartial";

                    $.get(url2, {}, function (data) {
                        $('div.paypaldiv').html(data);
                    });
                });
            });

            //////////////////////////////////////////////////////////////

            /*
            * Remove product
            */

            $("a.removeproduct").click(function (e) {
                e.preventDefault();

                var $this = $(this);
                var productId = $(this).data("id");
                var url = "/CartDetails/RemoveProduct";

                $.get(url, { productId: productId }, function (data) {
                    location.reload();
                });
            });

            //////////////////////////////////////////////////////////////

            /*
            * Place order
            */

            $("a.placeorder").click(function (e) {
                e.preventDefault();

                var $this = $(this);

                var url = "/CartDetails/PlaceOrder";

                $(".ajaxbg").show();

                $.post(url, {}, function (data) {
                    $(".ajaxbg span").text("Thank you. You will now be redirected to paypal.");
                    setTimeout(function () {
                        $('form input[name="submit"]').click();
                    }, 2000);
                });
            });

            //////////////////////////////////////////////////////////////

        });

    </script>

}
