<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>Asopalav Jewellers</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="hd-fix">
        <header id="header" class="hd-background">
            <div class="container">
                <a href="index.html" id="logo" title="Asopalav Jewellers">Asopalav Jewellers</a>
                <div class="right-links">
                    <ul class="nav navbar-nav navbar-right">
                        @if (Convert.ToBoolean(Session["IsLoginValid"]) == true)
                        {
                            @Html.AntiForgeryToken()

                            <li>
                                @Html.ActionLink("Welcome " + Session["UserFullName"] + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                            </li>
                            <li>@Html.ActionLink("Log off", "LogOff", "Account", new { area = "" }, new { })</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

                        }
                    </ul>
                </div>
            </div>
        </header>
        <!-- / header -->
        <nav id="menu">
            <div class="container" style="width:100% !important">
                <div class="trigger"></div>
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li><a href="#">Collections</a></li>
                    <li><a href="#">Fine Metal</a></li>
                    <li>@Html.ActionLink("About us", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact us", "Contact", "Home")</li>
                    <li><a href="#">Promotions</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- / navigation -->
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <div>
        <footer id="footer">
            <div class="container" style="width:100% !important">
                    <div class="cols">
                        <div class="col">
                            <h3>Frequently Asked Questions</h3>
                            <ul>
                                <li><a href="#">The Dummy copy </a></li>
                                <li><a href="#">The Dummy copy</a></li>
                                <li><a href="#">The Dummy copy</a></li>
                                <li><a href="#">The Dummy copy</a></li>
                                <li><a href="#">The Dummy copy</a></li>
                            </ul>
                        </div>
                        <div class="col media">
                            <h3>Social media</h3>
                            <ul class="social">
                                <li><a href="#"><span class="ico ico-fb"></span>Facebook</a></li>
                                <li><a href="#"><span class="ico ico-tw"></span>Twitter</a></li>
                                <li><a href="#"><span class="ico ico-gp"></span>Google+</a></li>
                                <li><a href="#"><span class="ico ico-pi"></span>Pinterest</a></li>
                            </ul>
                        </div>
                        <div class="col contact">
                            <h3>Contact us</h3>
                            <p>Diana’s Jewelry INC.<br>54233 Avenue Street<br>New York</p>
                            <p><span class="ico ico-em"></span><a href="#">contact@dianasjewelry.com</a></p>
                            <p><span class="ico ico-ph"></span>(590) 423 446 924</p>
                        </div>
                        <div class="col newsletter">
                            <h3>Join our newsletter</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium.</p>
                            <form action="#">
                                <input type="text" placeholder="Your email address...">
                                <button type="submit"></button>
                            </form>
                        </div>
                    </div>
                    <p class="copy">Copyright 2013 Jewelry. All rights reserved.</p>
                </div>
            <!-- / container -->
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/foundation.min.js"></script>
    <script src="~/Scripts/setup.js"></script>
</body>
</html>
