<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="SHORTCUT ICON" href="@Url.Content("~/Content/images/favicon.ico")" />
    <title>Asopalav Jewellers</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @Styles.Render("~/Style/Common")
</head>
<body class="body-bg">
    <!--<div class="hd-fix">-->
    <header id="header" class="hd-background">
        <div class="container">
            <div class="col-xs-12 col-sm-5"><a href="javascript:void(0);" id="logo" title="Asopalav Jewellers">Asopalav Jewellers</a></div>
            <div class="col-xs-12 col-sm-2 shree-hari-middle">
                <img src="~/Content/images/ShreeHari.gif" />
            </div>
            <div class="col-xs-12 col-sm-5 right-links device-price-margin" style="margin-right:10px">
                <ul><li>Gold Price per Ounce - $@Session["GoldRate"]  | Silver Price per Ounce - $@Session["SilverRate"]</li></ul>
            </div>

            @*<div class="shree-hari"><img src="~/Content/images/ShreeHari.gif" style="width:50px;" /></div>*@
            <div class="col-xs-12 col-sm-4 right-links pull-right">
                <div class="col-xs-9 col-sm-10 device-login" style="padding-left:0;padding-right:0;">
                    <ul class="nav navbar-nav device-log-margin" style="float:right">

                        @if (Convert.ToBoolean(Session["IsLoginValid"]) == true)
                        {
                            @Html.AntiForgeryToken()
                            <li>
                                @Html.ActionLink("Welcome " + Session["UserFullName"] + "!", "Index", "Home", routeValues: null, htmlAttributes: new { title = "Manage" })
                            </li>
                            <li>@Html.ActionLink("Log off", "LogOff", "Account", new { area = "" }, new { })</li>
                        }
                        else
                        {
                            <li>
                                @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", style = "font-size:14px;" })
                            </li>

                        }
                    </ul>
                </div>
                <div class="col-xs-3 col-sm-4 pull-right cart-margin">
                    <div class="profile-container" style="float:right">
                        @if (ViewBag.Title != "Cart Details")
                        {
                            @Html.Action("CartPartial", "CartDetails")
                        }


                    </div>
                    @*<div style="float:right">
                                <div class="btn-group" id="my-profile">
                                    <button class="btn">My Profile</button>
                                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                                        <span><i class="fa fa-caret-down" style="font-size:20px"></i></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Profile</a></li>
                                        <li><a href="#">Log Off</a></li>
                                    </ul>
                                </div>
                            </div>
                        <div style="float:right; margin-right:5px">
                            <div class="btn-group">
                                <button class="btn">Dollar</button>
                                <button class="btn dropdown-toggle" data-toggle="dropdown">
                                    <span><i class="fa fa-caret-down" style="font-size:20px"></i></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Dollar</a></li>
                                    <li><a href="#">Pound</a></li>
                                    <li><a href="#">Euro</a></li>
                                </ul>
                            </div>
                        </div>*@
                </div>

            </div>
        </div>
    </header>
    <!-- / header -->
    <nav id="menu">
        <div class="container" style="width:100% !important; border-bottom: 1px solid #ccc;">
            <div class="trigger"></div>

            <ul id="desktop-submenu">
                <li><img src="~/Content/images/logo_thumb.gif" style="width:90%;display:none;" id="desktopImgMenuLogo" /></li>
                <li @((string)Session["CurrentPage"] == "Home" ? "class=menu-active" : "class=menu-hover")>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                </li>
                <li>
                    <a a href="javascript:void(0);" id="mnuSilverware">Silverware</a>
                    <ul id="ulSilverwareSubmenu" class="gifts-submenu" style="display:none;">
                        <li @((string)Session["CurrentPage"] == "Personalize" ? "class=menu-active" : "class=menu-hover")>
                            <a href="@Url.Action("Dinner Set", "Home",new { page = "Dinner Set" })">Dinner Set</a>
                        </li>
                        <li @((string)Session["CurrentPage"] == "Corporate" ? "class=menu-active" : "class=menu-hover")>
                            <a href="@Url.Action("Pooja Set", "Home",new { page = "Pooja Set" })">Pooja Set</a>
                        </li>
                        <li @((string)Session["CurrentPage"] == "Kids" ? "class=menu-active" : "class=menu-hover")>
                            <a href="@Url.Action("Tea Set", "Home",new { page = "Tea Set" })">Tea Set</a>
                        </li>
                        <li @((string)Session["CurrentPage"] == "Festive" ? "class=menu-active" : "class=menu-hover")>
                            <a href="@Url.Action("Lemon Set", "Home",new { page = "Lemon Set" })">Lemon Set</a>
                        </li>
                        <li @((string)Session["CurrentPage"] == "Jewelery" ? "class=menu-active" : "class=menu-hover")>
                            <a href="@Url.Action("Bedroom Set", "Home",new { page = "Bedroom Set" })">Bedroom Set</a>
                        </li>
                        <li @((string)Session["CurrentPage"] == "Festive" ? "class=menu-active" : "class=menu-hover")>
                            <a href="@Url.Action("Fruit Bowl", "Home",new { page = "Fruit Bowl" })">Fruit Bowl</a>
                        </li>
                        <li @((string)Session["CurrentPage"] == "Jewelery" ? "class=menu-active" : "class=menu-hover")>
                            <a href="@Url.Action("Knife/Fork/Spoons", "Home",new { page = "Knife/Fork/Spoons" })">Knife/Fork/Spoons</a>
                        </li>
                    </ul>
                </li>
                <li @((string)Session["CurrentPage"] == "Antiques" ? "class=menu-active" : "class=menu-hover")>
                    <a href="@Url.Action("Antiques", "Home",new { page = "Antiques" })">Antiques</a>
                </li>
                <li>
                    <a href="javascript:void(0);" id="mnuGifts">Gifts</a>
                    <ul id="ulGiftsSubmenu" class="gifts-submenu" style="display:none;">
                        <li @((string)Session["CurrentPage"] == "Personalize" ? "class=menu-active" : "class=menu-hover")>
                            <a href="@Url.Action("Personalize", "Home",new { page = "Personalize" })">Personalize</a>
                        </li>
                        <li @((string)Session["CurrentPage"] == "Corporate" ? "class=menu-active" : "class=menu-hover")>
                            <a href="@Url.Action("Corporate", "Home",new { page = "Corporate" })">Corporate</a>
                        </li>
                        <li @((string)Session["CurrentPage"] == "Kids" ? "class=menu-active" : "class=menu-hover")>
                            <a href="@Url.Action("Kids", "Home",new { page = "Kids" })">Kids</a>
                        </li>
                        <li @((string)Session["CurrentPage"] == "Festive" ? "class=menu-active" : "class=menu-hover")>
                            <a href="@Url.Action("Festive", "Home",new { page = "Festive" })">Festive</a>
                        </li>
                        <li @((string)Session["CurrentPage"] == "Jewelery" ? "class=menu-active" : "class=menu-hover")>
                            <a href="@Url.Action("Jewelery", "Home",new { page = "Jewelery" })">Jewelery</a>
                        </li>
                    </ul>
                </li>
                <li @((string)Session["CurrentPage"] == "FineMetal" ? "class=menu-active" : "class=menu-hover")>
                    <a href="@Url.Action("FineMetal", "Home",new { page = "FineMetal" })">Fine Metal</a>
                </li>
                <li @((string)Session["CurrentPage"] == "About" ? "class=menu-active" : "class=menu-hover")>
                    <a href="@Url.Action("About", "Home")">About us</a>
                </li>
                <li @((string)Session["CurrentPage"] == "Contact" ? "class=menu-active" : "class=menu-hover")>
                    <a href="@Url.Action("Contact", "Home")">Contact us</a>
                </li>
            </ul>


            <ul class="wsmenu-list" id="device-submenu">
                <li><img src="~/Content/images/logo_thumb.gif" style="width:90%; display:none;" id="deviceImgMenuLogo" /></li>
                <li style="padding:0; margin:0; width:5px"></li>
                <li @((string)Session["CurrentPage"] == "Home" ? "class=menu-active" : "class=menu-hover")>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                </li>
                <li @((string)Session["CurrentPage"] == "Silverware" ? "class=menu-active" : "class=menu-hover")>
                    <a href="@Url.Action("Silverware", "Home",new { page = "Silverware" })">Silverware</a>
                    <div id="submenu-sticky1" class="megamenu clearfix selectorarrow">
                        <div class="container-fluid">
                            <div class="row">
                                @*<div class="col-lg-6 col-md-6 col-xs-6">
                                    <div style="display:flex;">
                                        <img src="~/Content/images/category3.jpg" alt="Personalize">
                                        <img src="~/Content/images/category6.jpg" alt="Corporate">
                                        <img src="~/Content/images/category4.jpg" alt="Kids">
                                    </div>
                                </div>*@
                                <ul class="col-lg-5 col-md-12 col-xs-12 link-list" style="display:grid">
                                    <li @((string)Session["CurrentPage"] == "Dinner Set" ? "class=menu-active" : "class=menu-hover")
                                        onmouseover="func('divImg7');"><a href="@Url.Action("Dinner Set", "Home",new { page = "Dinner Set" })">Dinner Set</a></li>
                                    <li @((string)Session["CurrentPage"] == "Pooja Set" ? "class=menu-active" : "class=menu-hover")
                                        onmouseover="func('divImg8');"><a href="@Url.Action("Pooja Set", "Home",new { page = "Pooja Set" })">Pooja Set</a></li>
                                    <li @((string)Session["CurrentPage"] == "Tea Set" ? "class=menu-active" : "class=menu-hover")
                                        onmouseover="func('divImg9');"><a href="@Url.Action("Tea Set", "Home",new { page = "Tea Set" })">Tea Set</a></li>
                                    <li @((string)Session["CurrentPage"] == "Lemon Set" ? "class=menu-active" : "class=menu-hover")
                                        onmouseover="func('divImg10');"><a href="@Url.Action("Lemon Set", "Home",new { page = "Lemon Set" })">Lemon Set</a></li>
                                    <li @((string)Session["CurrentPage"] == "Bedroom Set" ? "class=menu-active" : "class=menu-hover")
                                        onmouseover="func('divImg11');"><a href="@Url.Action("Bedroom Set", "Home",new { page = "Bedroom Set" })">Bedroom Set</a></li>
                                    <li @((string)Session["CurrentPage"] == "Fruit Bowl" ? "class=menu-active" : "class=menu-hover")
                                        onmouseover="func('divImg12');"><a href="@Url.Action("Fruit Bowl", "Home",new { page = "Fruit Bowl" })">Fruit Bowl</a></li>
                                    <li @((string)Session["CurrentPage"] == "Knife/Fork/Spoons" ? "class=menu-active" : "class=menu-hover")
                                        onmouseover="func('divImg13');"><a href="@Url.Action("Knife/Fork/Spoons", "Home",new { page = "Knife/Fork/Spoons" })">Knife/Fork/Spoons</a></li>
                                </ul>
                                <div class="col-lg-6 col-md-12 col-xs-12">
                                    <div id="divImg7" style="display:block;">
                                        <img src="~/Content/images/category7.jpg" alt="Personalize">
                                    </div>
                                    <div id="divImg8" style="display:none;">
                                        <img src="~/Content/images/category8.jpg" alt="Corporate">
                                    </div>
                                    <div id="divImg9" style="display:none;">
                                        <img src="~/Content/images/category9.jpg" alt="Kids">
                                    </div>
                                    <div id="divImg10" style="display:none;">
                                        <img src="~/Content/images/category10.jpg" alt="Festive">
                                    </div>
                                    <div id="divImg11" style="display:none;">
                                        <img src="~/Content/images/category11.jpg" alt="Jewelery">
                                    </div>
                                    <div id="divImg12" style="display:none;">
                                        <img src="~/Content/images/category12.jpg" alt="Jewelery">
                                    </div>
                                    <div id="divImg13" style="display:none;">
                                        <img src="~/Content/images/category13.jpg" alt="Jewelery">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li @((string)Session["CurrentPage"] == "Antiques" ? "class=menu-active" : "class=menu-hover")>
                    <a href="@Url.Action("Antiques", "Home",new { page = "Antiques" })">Antiques</a>
                </li>
                <li  @((string)Session["CurrentPage"] == "Gifts" ? "class=menu-active" : "class=menu-hover")>
                    <a href="javascript:void(0);" id="mnuGifts">Gifts</a>
                    <div id="submenu-sticky" class="megamenu clearfix selectorarrow">
                        <div class="container-fluid">
                            <div class="row">
                                <ul class="col-lg-5 col-md-12 col-xs-12 link-list" style="display:grid">
                                    <li class="title">Gift Items</li>
                                    <li @((string)Session["CurrentPage"] == "Personalize" ? "class=menu-active" : "class=menu-hover")
                                        onmouseover="func('divImg1');"><a href="@Url.Action("Personalize", "Home",new { page = "Personalize" } )">Personalize</a></li>
                                    <li @((string)Session["CurrentPage"] == "Corporate" ? "class=menu-active" : "class=menu-hover")
                                        onmouseover="func('divImg2');"><a href="@Url.Action("Corporate", "Home",new { page = "Corporate" })">Corporate</a></li>
                                    <li @((string)Session["CurrentPage"] == "Kids" ? "class=menu-active" : "class=menu-hover")
                                        onmouseover="func('divImg3');"><a href="@Url.Action("Kids", "Home",new { page = "Kids" })">Kids</a></li>
                                    <li @((string)Session["CurrentPage"] == "Festive" ? "class=menu-active" : "class=menu-hover")
                                        onmouseover="func('divImg4');"><a href="@Url.Action("Festive", "Home",new { page = "Festive" })">Festive</a></li>
                                    <li @((string)Session["CurrentPage"] == "Jewelery" ? "class=menu-active" : "class=menu-hover")
                                        onmouseover="func('divImg5');"><a href="@Url.Action("Jewelery", "Home",new { page = "Jewelery" })">Jewelery</a></li>
                                </ul>
                                <div class="col-lg-6 col-md-12 col-xs-12">
                                    <div id="divImg1" style="display:block;">
                                        <img src="~/Content/images/category3.jpg" alt="Personalize">
                                    </div>
                                    <div id="divImg2" style="display:none;">
                                        <img src="~/Content/images/category6.jpg" alt="Corporate">
                                    </div>
                                    <div id="divImg3" style="display:none;">
                                        <img src="~/Content/images/category4.jpg" alt="Kids">
                                    </div>
                                    <div id="divImg4" style="display:none;">
                                        <img src="~/Content/images/category2.jpg" alt="Festive">
                                    </div>
                                    <div id="divImg5" style="display:none;">
                                        <img src="~/Content/images/category5.jpg" alt="Jewelery">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li @((string)Session["CurrentPage"] == "FineMetal" ? "class=menu-active" : "class=menu-hover")>
                    <a href="@Url.Action("FineMetal", "Home",new { page = "FineMetal" })">Fine Metal</a>
                    <div id="submenu-sticky2" class="megamenu clearfix selectorarrow">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-xs-6">
                                    <div style="display:flex;">
                                        <img src="~/Content/images/category3.jpg" alt="Personalize">
                                        <img src="~/Content/images/category6.jpg" alt="Corporate">
                                        <img src="~/Content/images/category4.jpg" alt="Kids">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li @((string)Session["CurrentPage"] == "About" ? "class=menu-active" : "class=menu-hover")>
                    <a href="@Url.Action("About", "Home")">About us</a>
                </li>
                <li @((string)Session["CurrentPage"] == "Contact" ? "class=menu-active" : "class=menu-hover") style="margin-right:50px">
                    <a href="@Url.Action("Contact", "Home")">Contact us</a>
                </li>
            </ul>
        </div>
    </nav>
    <!--</div>-->
    <!-- / navigation -->
    <div class="container body-content">
        @RenderBody()
    </div>
    <div class="footer-bott">
        <footer id="footer">
            <div class="container" style="width:100% !important">
                <div class="cols" style="display:none;">
                    <div class="col">
                        <h3>Frequently Asked Questions</h3>
                        <ul>
                            <li><a href="#">The Dummy copy </a></li>
                            <li><a href="#">The Dummy copy</a></li>
                            <li><a href="#">The Dummy copy</a></li>
                            <li><a href="#">The Dummy copy</a></li>
                            <li><a href="#">The Dummy copy</a></li>
                        </ul>
                    </div>
                    <div class="col media">
                        <h3>Social media</h3>
                        <ul class="social">
                            <li><a href="#"><span class="ico ico-fb"></span>Facebook</a></li>
                            <li><a href="#"><span class="ico ico-tw"></span>Twitter</a></li>
                            <li><a href="#"><span class="ico ico-gp"></span>Google+</a></li>
                            <li><a href="#"><span class="ico ico-pi"></span>Pinterest</a></li>
                        </ul>
                    </div>
                    <div class="col contact">
                        <h3>Contact us</h3>
                        <p>10, Darpan Opposite, R C Dutt Road,<br>Alkapuri, Hotel Express, Vadodara,<br>Gujarat 390007</p>
                        <p><span class="ico ico-em"></span><a href="#">contact@asopalavjewellery.com</a></p>
                        <p><span class="ico ico-ph"></span>0265 232 5526</p>
                    </div>
                    <div class="col newsletter">
                        <h3>Join our newsletter</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium.</p>
                        <form action="#">
                            <input type="text" placeholder="Your email address...">
                            <button type="submit"></button>
                        </form>
                    </div>
                </div>
                <div class="pull-left device-foot">
                    <p>&copy; @DateTime.Now.Year - Asopalav Jewellers Private Limited</p>
                </div>
                <div class="pull-right">
                    <div class="footer_socialIcons">
                        <ul>
                            <li class="socialIcons_link bg-twitter">
                                <a class="fa fa-twitter" href="javascript:void(0)"></a>
                            </li>
                            <li class="socialIcons_link bg-gplus">
                                <a class="fa fa-google-plus" href="javascript:void(0)"></a>
                            </li>
                            <li class="socialIcons_link bg-face">
                                <a class="fa fa-facebook" href="https://www.facebook.com/AsopalavJewellers/"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- / container -->
        </footer>
    </div>

    <script>
        window.onscroll = function () {
            menuHeaderScrollFunction()
        };
        var navbar = document.getElementById("menu");
        var subnav = document.getElementById("submenu-sticky");
        var silver = document.getElementById("submenu-sticky1");
        var metal = document.getElementById("submenu-sticky2");
        var cart = document.getElementById("cd-cart");
        var sticky = navbar.offsetTop;
        var desktopImg = document.getElementById("desktopImgMenuLogo");
        var deviceImg = document.getElementById("deviceImgMenuLogo");

        function menuHeaderScrollFunction() {
            if (window.pageYOffset >= sticky) {
                metal.classList.add("megamenu-sticky");
                silver.classList.add("megamenu-sticky");
                subnav.classList.add("megamenu-sticky");
                navbar.classList.add("sticky");
                desktopImg.style.display = "inline-block";
                deviceImg.style.display = "inline-block";
            } else {
                metal.classList.remove("megamenu-sticky");
                silver.classList.remove("megamenu-sticky");
                subnav.classList.remove("megamenu-sticky");
                navbar.classList.remove("sticky");
                desktopImg.style.display = "none";
                deviceImg.style.display = "none";
            }
        }

        func = function (id) {
            document.getElementById('divImg1').style.display = "none";
            document.getElementById('divImg2').style.display = "none";
            document.getElementById('divImg3').style.display = "none";
            document.getElementById('divImg4').style.display = "none";
            document.getElementById('divImg5').style.display = "none";
            document.getElementById('divImg7').style.display = "none";
            document.getElementById('divImg8').style.display = "none";
            document.getElementById('divImg9').style.display = "none";
            document.getElementById('divImg10').style.display = "none";
            document.getElementById('divImg11').style.display = "none";
            document.getElementById('divImg12').style.display = "none";
            document.getElementById('divImg13').style.display = "none";
            document.getElementById(id).style.display = "block";
        }
    </script>

    @Scripts.Render("~/Script/Common")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/Script/Layout")
</body>
</html>
