<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="SHORTCUT ICON" href="@Url.Content("~/Content/images/favicon.ico")" />
    <title>Asopalav Jewellers</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @Styles.Render("~/Style/Common")
</head>
<body>
    <div class="hd-fix">
        <header id="header" class="hd-background">
            <div class="container">
                <a href="index.html" id="logo" title="Asopalav Jewellers">Asopalav Jewellers</a>
                <div class="shree-hari"><img src="~/Content/images/ShreeHari.gif" style="width:50px;" /></div>
                <div class="right-links pull-right">
                    <ul class="nav navbar-nav navbar-right">
                        <li style="color:white;"><p>Re/US $ - @Session["DollarRate"]</p> <p>Silver(₹/Kg) - @Session["SilverRate"]</p></li>
                        @if (Convert.ToBoolean(Session["IsLoginValid"]) == true)
                        {
                            @Html.AntiForgeryToken()

                            <li>
                                @Html.ActionLink("Welcome " + Session["UserFullName"] + "!", "Index", "Home", routeValues: null, htmlAttributes: new { title = "Manage" })
                            </li>
                            <li>@Html.ActionLink("Log off", "LogOff", "Account", new { area = "" }, new { })</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

                        }
                    </ul>
                </div>
            </div>
        </header>
        <!-- / header -->
        <nav id="menu">
            <div class="container" style="width:100% !important">
                <div class="trigger"></div>
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li><a href="javascript:void(0);">Silverware</a></li>
                    <li>
                        <a href="javascript:void(0);" id="mnuGifts">Gifts</a>
                        <ul id="ulGiftsSubmenu" class="gifts-submenu" style="display:none;">
                            <li><a href="javascript:void(0);">Personalize</a></li>
                            <li><a href="javascript:void(0);">Corporate</a></li>
                            <li><a href="javascript:void(0);">Kids</a></li>
                            <li><a href="javascript:void(0);">Festive</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0);">Fine Metal</a></li>
                    <li>@Html.ActionLink("About us", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact us", "Contact", "Home")</li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- / navigation -->
    <div class="container body-content">
        @RenderBody()
    </div>
    <div>
        <footer id="footer">
            <div class="container" style="width:100% !important">
                <div class="cols" style="display:none;">
                    <div class="col">
                        <h3>Frequently Asked Questions</h3>
                        <ul>
                            <li><a href="#">The Dummy copy </a></li>
                            <li><a href="#">The Dummy copy</a></li>
                            <li><a href="#">The Dummy copy</a></li>
                            <li><a href="#">The Dummy copy</a></li>
                            <li><a href="#">The Dummy copy</a></li>
                        </ul>
                    </div>
                    <div class="col media">
                        <h3>Social media</h3>
                        <ul class="social">
                            <li><a href="#"><span class="ico ico-fb"></span>Facebook</a></li>
                            <li><a href="#"><span class="ico ico-tw"></span>Twitter</a></li>
                            <li><a href="#"><span class="ico ico-gp"></span>Google+</a></li>
                            <li><a href="#"><span class="ico ico-pi"></span>Pinterest</a></li>
                        </ul>
                    </div>
                    <div class="col contact">
                        <h3>Contact us</h3>
                        <p>10, Darpan Opposite, R C Dutt Road,<br>Alkapuri, Hotel Express, Vadodara,<br>Gujarat 390007</p>
                        <p><span class="ico ico-em"></span><a href="#">contact@asopalavjewellery.com</a></p>
                        <p><span class="ico ico-ph"></span>0265 232 5526</p>
                    </div>
                    <div class="col newsletter">
                        <h3>Join our newsletter</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium.</p>
                        <form action="#">
                            <input type="text" placeholder="Your email address...">
                            <button type="submit"></button>
                        </form>
                    </div>
                </div>
                <div class="pull-left">
                    <p>&copy; @DateTime.Now.Year - Asopalav Jewellers Private Limited</p>
                </div>
                <div class="pull-right">
                    <div class="footer_socialIcons">
                        <ul>
                            <li class="socialIcons_link">
                                <a class="fa fa-twitter" href="javascript:void(0)"></a>
                            </li>
                            <li class="socialIcons_link">
                                <a class="fa fa-google-plus" href="javascript:void(0)"></a>
                            </li>
                            <li class="socialIcons_link">
                                <a class="fa fa-facebook" href="javascript:void(0)"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- / container -->
        </footer>
    </div>

    @Scripts.Render("~/Script/Common")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/Script/Layout")
</body>
</html>
