@model Asopalav.Models.FeedbackModel

<div id="breadcrumbs" class="product-margin-top">
    <div class="container">
        <ul>
            <li><a href="@Url.Action("Index","Home")">Home</a></li>
            <li><a href="@Url.Action("Contact","Home")">Contact us</a></li>
        </ul>
    </div>
    <!-- / container -->
</div>

<div class="row contact-margin-top">
    <div class="col-sm-6">
        <p class="col-md-offset-1 col-md-11 corporate">GET IN TOUCH</p>
        @using (Html.BeginForm("Feedback", "Home", FormMethod.Post, new { id = "frmFeedback", name = "frmFeedback" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @*@Html.LabelFor(model => model.EmailID, htmlAttributes: new { @class = "control-label col-md-3" })*@
                    <div class="col-md-11 col-md-offset-1">
                        @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                        @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @*@Html.LabelFor(model => model.MobileNo, htmlAttributes: new { @class = "control-label col-md-3" })*@
                    <div class="col-md-11 col-md-offset-1">
                        @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control", placeholder = "Mobile NO." } })
                        @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @*@Html.LabelFor(model => model.FeedbackSubject, htmlAttributes: new { @class = "control-label col-md-3" })*@
                    <div class="col-md-11 col-md-offset-1">
                        @Html.EditorFor(model => model.FeedbackSubject, new { htmlAttributes = new { @class = "form-control", placeholder = "Subject" } })
                        @Html.ValidationMessageFor(model => model.FeedbackSubject, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @*@Html.LabelFor(model => model.FeedbackMessage, htmlAttributes: new { @class = "control-label col-md-3" })*@
                    <div class="col-md-11 col-md-offset-1">
                        @Html.TextAreaFor(model => model.FeedbackMessage, htmlAttributes: new { @class = "form-control", placeholder = "Queries" })
                        @Html.ValidationMessageFor(model => model.FeedbackMessage, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-11 col-md-offset-1">
                        <input type="submit" value="Submit" class="btn btn-primary form-control butt-color" id="btnSubmit" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-sm-6">
        <p class="corporate">
            Our Corporate Office
        </p>
        <iframe width="500" height="375" frameborder="0" style="border:1px solid #969595; float:left" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDn-81soapHaXkj1pV--ooRPXnZdPatfvE&q=Asopalav+Jewellers+Pvt+Ltd%2C10%2C+Darpan+Opposite%2C+R+C+Dutt+Road%2C+Alkapuri%2C+Hotel+Express%2C+Vadodara%2C+Gujarat+390007&center=22.3102004,73.1684574" allowfullscreen></iframe>
        <br>
        <p class="corporate-address">
            <strong>Asopalav Jewellers Pvt Ltd.,</strong>
            Alkapuri, Vadodara
        </p>
    </div>
</div>