@model Asopalav.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4 class="register-margin-top">Create a new account.</h4>
    @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Primary_Email, new { @class = "col-md-5 control-label" })
                <div class="col-md-7">
                    @Html.TextBoxFor(m => m.Primary_Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Primary_Email, "", new { @style = "color:red" })
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-xs-5 col-md-3 control-label" })
                <div class="col-md-7">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @style = "color:red" })
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-5 control-label" })
                <div class="col-md-7">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.User_Fname, new { @class = "col-xs-5 col-md-3 control-label" })
                <div class="col-md-7">
                    @Html.TextBoxFor(m => m.User_Fname, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.User_Mname, new { @class = "col-md-5 control-label" })
                <div class="col-md-7">
                    @Html.TextBoxFor(m => m.User_Mname, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.User_Lname, new { @class = "col-xs-5 col-md-3 control-label" })
                <div class="col-md-7">
                    @Html.TextBoxFor(m => m.User_Lname, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Secondary_Email, new { @class = "col-md-5 control-label" })
                <div class="col-md-7">
                    @Html.TextBoxFor(m => m.Secondary_Email, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Mobile, new { @class = "col-xs-5 col-md-3 control-label" })
                <div class="col-md-7">
                    @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Alternate_Mobile, new { @class = "col-md-5 control-label" })
                <div class="col-md-7">
                    @Html.TextBoxFor(m => m.Alternate_Mobile, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Gender, new { @class = "col-xs-5 col-md-3 control-label" })
                <div class="col-md-7">
                    @Html.DropDownListFor(m => m.Gender, ViewData["Gender"] as List<SelectListItem>, "Choose...", new { @class = "form-control gender-width" })
                    @Html.ValidationMessageFor(model => model.Gender, "", new { @style = "color:red" })
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.User_DOB, new { @class = "col-md-5 control-label" })
                <div class="col-md-7">
                    @Html.TextBoxFor(m => m.User_DOB, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.User_Anniversary, new { @class = "col-xs-5 col-md-3 control-label" })
                <div class="col-md-7">
                    @Html.TextBoxFor(m => m.User_Anniversary, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="form-group">
                <div class="col-md-offset-5 col-md-7">
                    <input type="submit" class="btn btn-primary form-control" value="Register" />
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
