@model Asopalav.Models.ProductDetailsModel

@{
    ViewBag.Title = "Product Details";
}

<div id="breadcrumbs" class="product-margin-top">
    <div class="container">
        <ul>
            <li><a href="@Url.Action("Index","Home")">Home</a></li>
            <li>Product Details</li>
        </ul>
    </div>
    <!-- / container -->
</div>
<!-- / body -->
<div id="body">
    <div class="container product-margin-bott">
        <div id="content" class="full">
            <div class="row">
                <div class="col-sm-12 col-md-5">
                    <div class="product">
                        <section id="default" class="padding-top0">
                            <div class="row">
                                <div class="">
                                    <div class="xzoom-container">
                                        <img class="xzoom" id="xzoom-default" src="@Model.DefaultImagePath" xoriginal="@Model.DefaultImagePath" />
                                        <div class="xzoom-thumbs">
                                            @foreach (var img in Model.objProductMaster.Images)
                                            {
                                                <a href="@img.ImagePath"><img class="xzoom-gallery" width="80" src="@img.ImagePath" xpreview="@img.ImagePath" title="@img.ImageName"></a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="col-sm-12 col-md-7">
                    <div class="details">
                        <h1>@Model.objProductMaster.ProductName</h1>
                        <label>Currency:&nbsp;</label>
                        <select>
                            <option>$</option>
                            <option>RS.</option>
                        </select>
                        <h4>$@Model.objProductMaster.Price</h4>
                        <div class="entry">
                            <p></p>
                            <div class="tabs">
                                <div class="nav" style="z-index:-10">
                                    <ul>
                                        <li class="active"><a href="#desc">Description</a></li>
                                        <li style="display:none;"><a href="#spec">Specification</a></li>
                                    </ul>
                                </div>
                                <div class="tab-content active" id="desc">
                                    <p>@Model.objProductMaster.Description</p>
                                </div>
                                <div class="tab-content" id="spec">
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                </div>
                            </div>
                        </div>
                        <div class="actions">
                            <label>Quantity:&nbsp;</label>
                            <input class="form-control" data-val="true" id="Quantity" name="Quantity" type="text" value="">
                            @*<select><option>1</option></select>*@
                            <a href="javascript:void(0);" class="btn-grey">Add to cart</a>
                        </div>
                    </div>
                    <div>

                    </div>
                </div>
            </div>
            <!-- / content -->
        </div>
    </div>
</div>
<!-- / body -->
