@model Asopalav.Models.ProductModel

@using (Html.BeginForm("Add", "Product", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal admin-margin-top-pro">
        <h4 style="text-align:center;font-weight:bold">Product Model</h4>
        <hr />

        <div class="row" id="input-width">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.ProductCode, new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.ProductCode, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ProductCode, "", new { @style = "color:red" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ProductName, new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ProductName, "", new { @style = "color:red" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ProductTypeID, new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-8 pro-ad">
                        @Html.DropDownListFor(m => m.ProductTypeID, ViewData["ProductTypeID"] as List<SelectListItem>, "Choose...", new { @class = "form-control gender-width" })
                        @Html.ValidationMessageFor(model => model.ProductTypeID, "", new { @style = "color:red" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.WeightInGms, new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.WeightInGms, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.WeightInGms, "", new { @style = "color:red" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.HeightInInch, new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-5 size">
                                @Html.TextBoxFor(m => m.HeightInInch, new { @class = "form-control", @style = "50%" })
                            </div>
                            <div class="col-sm-2">
                                X
                            </div>
                            <div class="col-sm-5 size">
                                @Html.TextBoxFor(m => m.WidthInInch, new { @class = "form-control", @style = "50%" })
                            </div>
                        </div>
                        @Html.ValidationMessageFor(m => m.HeightInInch, "", new { @style = "color:red" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Price, new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Price, "", new { @style = "color:red" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <div class="checkbox chb-prod">
                            @Html.LabelFor(m => m.IsOffer)
                            @Html.CheckBoxFor(m => m.IsOffer, new { @style = "margin-top:10px !important;" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.OfferPrice, new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.OfferPrice, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <div class="checkbox chb-prod">
                            @Html.LabelFor(m => m.IsActive)
                            @Html.CheckBoxFor(m => m.IsActive, new { @style = "margin-top:10px !important;" })
                            @Html.ValidationMessageFor(m => m.IsActive, "", new { @style = "color:red" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Description, new { @class = "control-label col-sm-4" })
                    <div class="col-sm-8">
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control rounded-0" })
                        @Html.ValidationMessageFor(m => m.Description, "", new { @style = "color:red" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <div id="divDropImages" class="fallback dropzone dropDiv">
                            Upload Image
                            <a href="javascript:void(0);">
                                <span class="drophyperspan">
                                </span>
                            </a>
                        </div>
                        @Html.ValidationMessageFor(m => m.ImagePath, "", new { @style = "color:red" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group pro-admin-topspace">
            <button type="submit" class="btn btn-primary butt-color col-xs-offset-0 col-sm-offset-3 col-md-offset-4 col-xs-12 col-sm-6 col-md-4">Create</button>
        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript">
        if ('@TempData["isProductSaved"]' == "true") {
            toastr.success('@TempData["ProductSaveMsg"]');
        }
        else if ('@TempData["isProductSaved"]' == "false") {
            toastr.error('@TempData["ProductSaveMsg"]');
        }
    </script>
}
